#table{
  position: relative;
  top: 10px;
  height: 600px;
  width: 80%;
  background-color: green;
  padding: 20px;
  margin: auto;
  border-radius: 40px;
}

#dealer-hand,
#player-hand {
  height: 150px;
  width: 100%;
  background-color: lightgreen;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.buttons {
    text-align: center;
}

#dealer-hand img {
    padding: 10px;
    height: 130px;

}

#player-hand img {
    padding: 10px;
    height: 130px;
}

#dealer-points {
    font-size: 15px;
}

#player-points {
    font-size: 15px;
}

.betButton {
    text-align: center;
}

#placeBets tr {
    text-align: left;
    font-size: 20px;
    padding: 5px;
}

.title {
    font-size: 50px;
    font-family: cursive;
    text-align: center;
}
